* {
  box-sizing: border-box;
}

.cover {
  background: url(assets/freedom.jpg) no-repeat center center/cover;
  height: 100vh;
  display: table;
}

.text {
  display: table-cell;
  vertical-align: middle;
  
}

.text h1 {
  font-family: verdana, arial, sans-serif;
  font-size: 2rem;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}
.text h2 {
  font-family: verdana, arial, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  font-style: italic;
  
}