* {
  box-sizing: border-box;
}

.cover {
  background: url(assets/freedom.jpg) no-repeat center center/cover;
  width: 100vw;
  height: 100vh;  
}

.wrapper {
  width: 90vw;
  text-align: center;
  margin: auto;
  padding-top: 3rem;
}

.hero_text h1 {
  font-family: arial, verdana, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.2;
}

.author h2 {
  font-family: arial, verdana, sans-serif;
  font-size: 1.2rem;
  font-style:italic;
}

